body {
  margin: 0;
}

#app {
  width: 270px;
  padding: 10px;
}

#main {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #1C1C1C;
  font-size: 14px;
}

.label {
  font-weight: 500;
  font-size: 15px;
  padding: 4px;
  margin-bottom: 12px;
  text-align: center;
}

.info {
  font-weight: 400;
  font-size: 11px;
  padding: 4px;
  text-align: center;
}

.slider-container {
  padding: 4px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.slider-container input {
  width: 70%;
}

.button-container {
  padding: 4px;
}

.button-container input {
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  padding: 8px;
  border: 0;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.button-container.reset input {
  background-color: rgb(220, 0, 78);
}

.button-container.reset input:hover {
  background-color: rgb(154, 0, 54);
}

.button-container.confirm input {
  background-color:#1976d2;
}

.button-container.confirm input:hover {
  background-color: rgb(17, 82, 147);
}